<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Zip Code Finder</title>
</head>

<body>
    <div class="container">
        <h1>Find Place or Zip Code</h1>
        <form action="/process" method="post">
            <input type="text" name="searchInput" placeholder="Enter a place or zip code">
            <button type="submit">Search</button>
        </form>
    </div>
</body>

</html>